<h1 class="text-light text-center">Comment in <span class="font-italic text-primary font-weight-bold">Twitter.Project</span></h1>
<div class="container px-5">
    <%= form_with(model: [@user, tweet], local: true) do |f| %>
        <% if tweet.errors.any? %>
            <div id="error_explanation" class="text-light">
                <h2><%= pluralize(tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>
                <ul>
                    <% tweet.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>
    
        <div class="form-group" readonly>
            <%= f.label :content %>
            <%= f.text_area :content, size: "70x5", class:'form-control form-control-lg', placeholder: "What's new?"  %>
        </div>

        <div class="actions">
            <%= f.submit "Tweet!",class:'btn btn-outline-light'%>
        </div>
    <% end %>
</div>

