<h1>All Tweets</h1>
<%= paginate @tweets %>
<table>
    <thead>
        <tr>
            <th>#</th>
            <th>User Photo</th>
            <th>Content</th>
            <th>N Likes</th>
            <th>N Retweets</th>
        </tr>
    </thead>
    <tbody>
        <% tweets.each do |tweet| %>
        <tr>
            <td><%= tweet.id %></td>
            <td><%= image_tag tweet.user.photo, class:' img-fluid rounded-circle size:50x50' %></td>
            <td><%= tweet.content %></td>
            <td><%= tweet.count_likes %></td>
            <td><%= Tweet.count_retweets(tweet) %></td>
            
            <% if user_signed_in? %>
                <% if tweet.liked?(current_user) %>
                    <td>
                        <%= link_to create_like_path(tweet), method: :delete do %>
                            <div class="text-danger"><%= svg('heart-fill') %></div>
                        <% end %>
                    </td>
                <% else %>
                    <td>
                        <%= link_to destroy_like_path(tweet), method: :post do %>
                            <div class="text-danger"><%= svg('heart')%></div>
                        <% end %>
                    </td>
                <% end %>
                <td>
                    <%= link_to create_retweet_path(tweet) ,method: :post do %>
                        <%= svg('retweet') %>
                    <% end %>
                </td>
            <% else %>
                <td>
                    <%= link_to new_user_session_path do %>
                        <div class="text-danger"><%= svg('heart')%></div>
                    <% end %>
                </td>
                <td>
                    <%= link_to new_user_session_path do %>
                        <%= svg('retweet') %>
                    <% end %>    
                </td>
            <% end %>
        </tr>
        <% end %>
    </tbody>
</table>
<%= paginate @tweets %>
