<h1>SHOW DEL TWEET</h1>

<table>
    <thead>
        <tr>
            <th>#</th>
            <th>User_id</th>
            <th>User Photo</th>
            <th>Content</th>
            <th>Date</th>
            <th>N Likes</th>
            <th>N Retweets</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%= @tweet.id %></td>
            <td><%= @tweet.user_id %></td>
            <td><%= image_tag @tweet.user.photo, class:' img-fluid rounded-circle size:50x50' %></td>
            <td><%= @tweet.content %></td>
            <td>|</td>
            <td><%= time_ago_in_words(Time.now - @tweet.created_at) %></td>
            <td>|</td>
            <td><%= (@tweet.created_at) %></td>
            <td>|</td>
            <td><%= @tweet.count_likes %></td>
            <td><%= Tweet.count_retweets(@tweet) %></td>
        </tr>
    </tbody>
</table>

<h2>Users que les gusto el tweet</h2>
<% Tweet.liker_users(@tweet, @users).each do |user|%>
    <%= image_tag user.photo, class:'img-fluid rounded-circle' %>
<% end %>