






<table class="text-light border-left">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>        
        </tr>
    </thead>
    <tbody>
        
            <% @users.each do |user| %>
                <tr>
                    <% if user_signed_in? %>
                            <% if user != current_user%>
                                <th><%= "@#{user.name}" %></th>
                                <% if user.followers.include? current_user%>
                                    <th><%= link_to 'Unfollow', destroy_follow_path(user), method: :delete %></th>
                                <% else %>
                                    <th><%= link_to 'Follow', create_follow_path(user), method: :post %></th>
                                <% end %>
                            <% end %> 
                    <% else %>
                        <th><%= "@#{user.name}" %></th>
                        <th><%= link_to 'Follow', new_user_session_path %></th>
                    <% end %>
                </tr>
            <% end %>
    </tbody>
</table>