<!DOCTYPE html>
<html>
  <head>
    <title>Twitter Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <div class="text-primary"><%= favicon_link_tag asset_path('favicon.svg') %></div>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <div class="container pt-5 mt-5">
      <%= yield %>
    </div>
  </body>
</html>
